header {
    background-color: #eec801;
    color: #404040; 
    padding: 1em; 
    width: 100%; 
    position: fixed;
    top: 0; 
    text-align: center;
    z-index: 99;
    box-shadow: 2px 2px 2px 2px #40404041;
} 

img {
    width: 100%;
    z-index: 1; 
}